*,*:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: 16px;
    margin: 0px;
    background: #072e4c;
    color: #000;
    
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;

}

.age-calculator{
    width: 100%;
    max-width: 600px;
    color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
   background: linear-gradient(to bottom, #007193 50%, #06024e);

}



.age-calculator h1{
    font-size: 36px;
    margin: 0 0 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.age-calculator input{
    width: 60%;
    display: block;
    margin: 0 auto 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    
}

.age-calculator button{
    width: 40%;
    display: block;
    margin: 10px auto 20px;
    font-size: 16px;
    padding: 7px;
    border-radius: 7px;
    border: 0px;
    background: #a1e1ff;
    font-weight:bolder;
    text-transform: uppercase;
    cursor: pointer;
}

#calculate_age{
    font-size: 25px;
}
